.banner{
    margin: 70px;
}

.image-banner{
    width: 100%;
    padding: 30px;
    margin-right: 30px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}

.title-banner{
    font-size: 30px;
    color: black;
    font-family: 'Montserrat';
    text-align: center;
}