.card{
    width: 28%;
    padding: 30px;
    @media (max-width:767.98px){
        width: 90%;
    }
}

.img_card{
   border-radius: 10px;
   height: 340px;
   width: 100%;
   object-fit: cover;
}

.title-card{
    z-index: 20;
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}