.card{
    width: 30%;
    margin-left: 20px;
    @media (max-width:767.98px){
        width: 90%;
    }
}

.img_card{
   border-radius: 10px;
   height: 340px;
   width: 100%;
}

.title-card{
    z-index: 20;
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}