.chevron{
    color: black;
}

.btn-collapse{
    color: white;
    background-color: #FF6060;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    border: #FF6060;
}

.icon{
    padding-left: 10px;
}