.erreur{
    color: #FF6060;
    font-size: 200px;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat';
}

.oups{
    color:#FF6060;
    text-align: center;

}

.lien{
    color:#FF6060;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}

a{
    color: #FF6060;
}