.card_gallery{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 30px;
    justify-content: stretch;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    padding-top: 30px;
    @media (max-width:767.98px){
        flex-direction: column;
        background-color: white;
    }
}

.gallery_card{
    width: 90%;
    text-decoration: none;
    position: relative;
}