.card_gallery{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 30px;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 30px;
    margin: 60px;
    background-color: #F6F6F6;
    padding: 30px;
}

.gallery_card{
    width: 90%;
    text-decoration: none;
    position: relative;
}