.header{
    display: flex;
    flex-direction: row;
}

.header{
    margin: 10px;
    margin-left: 44px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.logo-kasa{
    padding: 20px;
    width: 20%;
}