.carousel{
    width: 100%;
    margin: auto;
}

.carousel img{
    width: 1240px;
    height: 620px;
    margin: auto;
    
}

.custom-prev-arrow{
    left: 10px;
    position: absolute;
    top: 45%;
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: 80px;
    color: white;
}

.custom-next-arrow{
    right: 10px;
    position: absolute;
    top: 45%;
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: 80px;
    color: white;
}