.carousel{
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 10px;
}

.carousel img{
    width: 95%;
    height: 600px;
    border-radius: 20px;
}

.custom-prev-arrow{
    left: 70px;
    position: absolute;
    top: 45%;
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: 80px;
    color: white;
}

.custom-next-arrow{
    right: 30px;
    position: absolute;
    top: 45%;
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: 80px;
    color: white;
}